.DescriptionBubble {
	padding: 30px;
	text-align: left;
	background: rgb(255, 255, 255) 0 0 no-repeat padding-box;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 43px;
	/* opacity: 1; */
	margin: 10px 0;
}
.descriptionTitle {
	font-size: 32px;
	color: #419c49;
	margin: 10px 0 20px;
}
.descriptionText {
	letter-spacing: -0.54px;
	color: #797d81;
	line-height: 1.4rem;
	font-size: 18px;
	margin: 0;
}

#db1 {
	max-width: 446px;
}
#db2 {
	max-width: 522px;
}
#db3 {
	max-width: 460px;
}

@media screen and (max-width: 865px) {
	.descriptionText {
		font-size: 0.8rem;
	}
	.descriptionTitle {
		font-size: 18px;
	}
}
