.Button {
	grid-column: 3/4;
	width: 135px;
	margin: auto 95px;
	background-color: #5a8bea;
	font-size: 20px;
	font-weight: lighter;
	border: 0px;
	height: 50px;
	color: white;
	border-radius: 30px;
	box-shadow: 0px 3px 3px #00000029;
	letter-spacing: var(--unnamed-character-spacing-0-4);
	font: var(--unnamed-font-style-normal) normal
		var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 37px Poppins;
}

.Button:hover {
	cursor: pointer;
}
