.div-TI {
	display: grid;
	align-items: start;
	text-align: left;
	width: calc(100% - 30px);
	margin: 10px auto;
}

.ti-lbl {
	grid-row: 1/2;
	font-size: 0.8rem;
}

.ti-input {
	grid-row: 2/3;
	margin: 18px auto;
	font-size: 20px;
	border: #e4eefd solid 2px;
	border-radius: 21px;
	opacity: 1;
	background: #ffffff 0% 0% no-repeat padding-box;
	height: 35px;
	width: calc(100% - 20px);
	padding: 0px 0px 0px 20px;
	justify-content: center;
}

.ta-div {
	width: 100%;
	margin: 10px auto;
}

.text-area {
	height: calc(200px - (20px * 2));
	width: calc(100% - (20px * 2));
	padding: 20px;
}

span {
	color: #d75744;
}

@media screen and (max-width: 865px) {
	.ti-input {
		font-size: 15px;
	}
}
