.contact_us_form_div {
	border: rgba(0, 0, 0, 0.1) solid 1px;
	border-radius: 55px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	width: 48%;
	margin: 20px auto;
	padding: 60px 80px;
	position: relative;
}

.personIcon img {
	max-width: 130px;
}

.personalInputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#womanTop {
	position: absolute;
	top: -114px;
	left: -15px;
}

#womanTop img {
	width: 100px;
}

#manTop {
	position: absolute;
	top: -92px;
	right: 30px;
}

#manBottom {
	position: absolute;
	bottom: -100px;
	left: -50px;
}
#manBottom img {
	width: 100px;
}

#womanBottom {
	position: absolute;
	bottom: -78px;
	right: -95px;
}

@media screen and (max-width: 865px) {
	.personalInputs {
		grid-template-columns: 1fr;
	}
}
