.statNumber {
	font-size: 32px;
	color: #419c49;
	font-weight: 600;
}
.statName,
.statNumber {
	text-align: left;
	margin: 5px;
}

.statName {
	font-size: 18px;
}

@media screen and (max-width: 865px) {
	.statName {
		font-size: 0.8rem;
	}
	.statNumber {
		font-size: 18px;
	}
	.statName,
	.statNumber {
		margin: 0;
		line-height: 23px;
	}
}
