/* .hidden_menu, .hidden_menu > *  {
    display: none;
} */

@font-face {
    font-family: "MobileMenu";
    src: url(/static/fonts/TCB_____.TTF);
}

.hide {
    display: none;
}

@media screen and (max-width:865px) {

    /* .hidden_menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        padding: 16px;
        background-color: #5A8BEA;
        height: calc(100vh - 32px);
        margin-right: 0px;
        width: 57%;
        animation: slide-in 0.5s forwards;
    } */


    /* @keyframes slide-in {
        0% { right: -200px; }
        100% { right: 0; }
    }

    @keyframes slide-out {
        0% { right: 0; }
        100% { right: -200px; }
    } */

    /* @keyframes popin {
        0%{}
        70%{transform: translateX(+20vw + 270px)}
        100%{ }
    } */

    #cancel_icn img {
        width: 25px;
        margin: 14px;
    }

    #sher_brand_icn {
        margin-top: 27px;
        margin-bottom: 18px;
        height: 50px;
    }

    #sher_brand_icn img {
        width: 40px;
        margin-right: 27px;
        margin-left: 10px;
    }

    #sher_brand_icn label {
        color: white;
        text-align: center;
        font-size: 25px;
        font-family:  var(--main-font);
    }
}